* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}
/* COMMON */

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    --height: 58px;
    min-width: 149px;
    line-height: var(--height);
    border-radius: 8px;
    background: #212832;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    outline: none;
    border: none;
}
.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.section__title {
    display: flex;
    align-items: center;
    color: #696d77;
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
}
.section__title::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 2px;
    background: #696d77;
    margin-right: 12px;
}
/* HEADER */
.header {
    padding: 42px 0;
}

.header__inner {
    display: flex;
    align-items: center;
}

.nav {
    margin-left: 70px;
}

.nav__list {
    display: flex;
    column-gap: 48px;
    align-items: center;
}

.nav__item-link {
    position: relative;
    color: #696d76;
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
    padding-bottom: 2px;
}
.nav__item-link:hover {
    text-shadow: 1px 0 0 currentColor;
}
.active::after {
    position: absolute;
    inset: auto 0 0 0;
    content: "";
    display: inline-block;
    height: 1px;
    background: #5771e1;
    border-radius: 99px;
    border: 1px solid #5771e1;
}

.header__cta-group {
    margin-left: auto;
}

.header__cta {
    margin-right: 28px;
    color: #212832;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}

.header__cta-btn {
    --height: 52px;

    min-width: 113px;
}

/* HERO */
.hero {
    padding-top: 34px;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
}

.hero__content {
}

.hero__heading {
    margin-top: 12px;
    color: #212832;
    width: 500px;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.17; /* 116.667% */
}

.hero__heading-strong {
    color: #7264d6;
}

.hero__desc {
    width: 540px;
    margin-top: 20px;
    color: #696d76;
    font-size: 1.8rem;
    line-height: 1.67; /* 166.667% */
}

.hero__form {
    margin-top: 40px;
    display: flex;
    align-items: center;
    width: 540px;
    height: 74px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.hero__form-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: inherit;
    padding: 0 23px;
}

.hero__form-input::placeholder {
    color: #696d76;
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
}

.hero_form-submit {
    --height: 58px;
    background: #7264d6;
    color: #fff;
}

.hero__note {
    margin-top: 20px;
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.72; /* 171.429% */
}

.hero__media {
    display: flex;
    justify-content: space-between;
    column-gap: 44px;
}

.deposite {
    display: flex;
    align-items: center;
    padding: 14px 10px;
    position: absolute;
    top: 110px;
    left: -100px;
    width: 174px;
    height: 46px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.deposite__img {
    width: 18px;
    height: 18px;
}

.deposite__title {
    color: #31456a;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
    margin: 0 20px 0 8px;
}

.deposite__price {
    color: #4ab5e3;
    font-size: 1.4rem;
    line-height: 1; /* 100% */
}
.hero__img-wrap {
    position: relative;
    width: 296px;
    height: 562px;
}
.hero__img {
    width: 100%;
}

.hero__circle {
    margin-top: 127px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #da6464;
}

.hero__circle__top {
    color: #fff;
    font-size: 4.4rem;
    font-weight: 600;
}

.hero__circle_bottom {
    color: #fff;
    font-size: 1.6rem;
}

.hero__money {
    position: absolute;
    padding: 20px 14px;
    bottom: 69px;
    right: -75px;
    width: 124px;
    height: 68px;
    border-radius: 10px;
    background: #439f90;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.hero__money-content {
    margin-left: 11px;
    flex-grow: 1;
}

.hero__money-title {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.hero__money-desc {
    margin-top: 5px;
    color: #fff;
    font-size: 0.8rem;
    line-height: 1; /* 100% */
}
