* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}
/* COMMON */

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    --height: 58px;
    min-width: 149px;
    line-height: var(--height);
    border-radius: 8px;
    background: #212832;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    outline: none;
    border: none;
}
.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.section__title {
    display: flex;
    align-items: center;
    color: #696d77;
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
}
.section__title::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 2px;
    background: #696d77;
    margin-right: 12px;
}
.section__heading {
    margin-top: 12px;
    color: #212832;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25; /* 125% */
}
/* HEADER */
.header {
    padding: 42px 0;
}

.header__inner {
    display: flex;
    align-items: center;
}

.nav {
    margin-left: 70px;
}

.nav__list {
    display: flex;
    column-gap: 48px;
    align-items: center;
}

.nav__item-link {
    position: relative;
    color: #696d76;
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
    padding-bottom: 2px;
}
.nav__item-link:hover {
    text-shadow: 1px 0 0 currentColor;
}
.active::after {
    position: absolute;
    inset: auto 0 0 0;
    content: "";
    display: inline-block;
    height: 1px;
    background: #5771e1;
    border-radius: 99px;
    border: 1px solid #5771e1;
}

.header__cta-group {
    margin-left: auto;
}

.header__cta {
    margin-right: 28px;
    color: #212832;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}

.header__cta-btn {
    --height: 52px;

    min-width: 113px;
}

/* HERO */
.hero {
    padding-top: 34px;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
}

.hero__content {
}

.hero__heading {
    margin-top: 12px;
    color: #212832;
    width: 500px;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.17; /* 116.667% */
}

.hero__heading-strong {
    color: #7264d6;
}

.hero__desc {
    width: 540px;
    margin-top: 20px;
    color: #696d76;
    font-size: 1.8rem;
    line-height: 1.67; /* 166.667% */
}

.hero__form {
    margin-top: 40px;
    display: flex;
    align-items: center;
    width: 540px;
    height: 74px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.hero__form-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: inherit;
    padding: 0 23px;
}

.hero__form-input::placeholder {
    color: #696d76;
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
}

.hero_form-submit {
    --height: 58px;
    background: #7264d6;
    color: #fff;
}

.hero__note {
    margin-top: 20px;
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.72; /* 171.429% */
}

.hero__media {
    display: flex;
    justify-content: space-between;
    column-gap: 44px;
}

.deposite {
    display: flex;
    align-items: center;
    padding: 14px 10px;
    position: absolute;
    top: 110px;
    left: -100px;
    width: 174px;
    height: 46px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.deposite__img {
    width: 18px;
    height: 18px;
}

.deposite__title {
    color: #31456a;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
    margin: 0 20px 0 8px;
}

.deposite__price {
    color: #4ab5e3;
    font-size: 1.4rem;
    line-height: 1; /* 100% */
}
.hero__img-wrap {
    position: relative;
    width: 296px;
    height: 562px;
}
.hero__img {
    width: 100%;
}

.hero__circle {
    margin-top: 127px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #da6464;
}

.hero__circle__top {
    color: #fff;
    font-size: 4.4rem;
    font-weight: 600;
}

.hero__circle_bottom {
    color: #fff;
    font-size: 1.6rem;
}

.hero__money {
    position: absolute;
    padding: 20px 14px;
    bottom: 69px;
    right: -75px;
    width: 124px;
    height: 68px;
    border-radius: 10px;
    background: #439f90;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.hero__money-content {
    margin-left: 11px;
    flex-grow: 1;
}

.hero__money-title {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.hero__money-desc {
    margin-top: 5px;
    color: #fff;
    font-size: 0.8rem;
    line-height: 1; /* 100% */
}

/* PRODUCT */
.product {
    margin-top: 60px;
    padding-top: 100px;
}

.product__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product__media {
    position: relative;
}
.product__content {
    width: 470px;
}
.product__img-wrap {
    position: relative;
    width: 470px;
    height: 619px;
    overflow: hidden;
}
.product__img {
    display: block;
    width: 448px;
    object-fit: cover;
    z-index: 1;
    margin: 0 auto;
}

.product__img-wrap::before {
    content: "";
    background-image: url(../img/product-decor-01.png);
    background-repeat: no-repeat;
    position: absolute;
    inset: auto 0 0 0;
    height: 90%;
    z-index: -1;
}
.product__decor {
    position: absolute;
    top: 60px;
    right: 55px;
}

.product__check {
    position: absolute;
    bottom: 90px;
    right: -110px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 15px;
    width: 226px;
    height: 70px;
    border-radius: 8px;
    background: #fffdfa;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}

.product__check-title {
    color: #212832;
    font-size: 1.4rem;
    font-weight: 600;
}

.product__check-desc {
    margin-top: 5px;
    color: #696d76;
    font-size: 1.2rem;
}

.product__content-list {
    margin-top: 70px;
}
.product__content-item + .product__content-item {
    margin-top: 30px;
}

.product__content-title {
    color: #212832;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.55; /* 145.455% */
}

.product__content-desc {
    margin-top: 16px;
    color: #696d76;
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
}

/* CARD */
.card {
    margin-top: 60px;
    padding-top: 100px;
}

.card__inner {
    display: flex;
    column-gap: 130px;
    align-items: center;
}

.card__content {
    width: 470px;
}

.card__media {
}

.card__desc {
    color: #696d76;
    margin: 20px 0 28px;
    font-size: 1.8rem;
    line-height: 1.67; /* 166.667% */
}

.card__list {
    display: flex;
    align-items: center;
    column-gap: 12px;
    margin-top: 18px;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.card__list::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #7264d6;
}

.card__btn {
    margin-top: 38px;
}

.card__media {
    position: relative;
}

.card__send {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 276px;
    height: 86px;
    padding: 23px 13px 26px 13px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
    top: -48px;
    right: -88px;
    z-index: 1;
}
.card__send-body {
    flex: 1;
}
.card__send-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__send-top-title {
    color: #212832;
    font-size: 1.2rem;
    font-weight: 600;
}

.card__send-top-desc {
    color: #212832;
    font-size: 1.6rem;
}

.card__send-bottom-title {
    color: #696d76;
    font-size: 1rem;
}

.card__send-bottom-desc {
    color: #696d76;
    font-size: 1rem;
}

.card__img-wrap {
    /* position: relative; */
    width: 482px;
}

.card__img {
    width: 100%;
}

.card__money {
    position: absolute;
    bottom: -55px;
    right: -88px;
    width: 120px;
    height: 120px;
    padding: 15px;
    border-radius: 16px;
    background: #439f90;
}

.card__money-title {
    margin: 14px 0 6px;
    color: #fff;
    font-size: 1.2rem;
}

.card__money-desc {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
}
/* TRANSFER */
.transfer {
    margin-top: 60px;
    padding-top: 100px;
}

.transfer__inner {
    display: flex;
    justify-content: space-between;
}

.transfer__media {
    position: relative;
}

.transfer__img-wrap {
    position: relative;
    width: 470px;
    height: 600px;
}

.transfer__img-wrap::after {
    content: "";
    position: absolute;
    height: 432px;
    inset: auto 0 0 0;
    background: #92c2c2;
    clip-path: polygon(0 28%, 100% 1%, 100% 100%, 0% 100%);
    border-radius: 15px;
}
.transfer__img {
    position: relative;
    z-index: 1;
    width: 410px;
    height: 600px;

    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

.payment {
    position: absolute;
    z-index: 1;
    bottom: 70px;
    right: -90px;
    padding: 28px;
    width: 281px;
    height: 220px;
    border-radius: 12px;
    background-color: #fff;
    filter: drop-shadow(0px 44px 48px rgba(0, 0, 0, 0.2));
}
.payment__heading {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}
.payment__list {
    position: relative;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}
.payment__list::after {
    position: absolute;
    content: url(../img/transfer__decor.png);
    top: -145px;
    right: -80px;
}
.payment__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 63px;
    height: 48px;
    border-radius: 4px;
    background: #f2f2fa;
}

.payment__item:last-child {
    background: #5771e1;
}

/* FEEDBACK */
.feedback,
.update {
    margin-top: 60px;
    padding-top: 100px;
}

.feedback__top {
    text-align: center;
}
.feedback__title {
    justify-content: center;
}

.feedback__desc {
    margin: 18px auto 0;
    width: 435px;
    color: #696d76;
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
}

.feedback__list {
    margin-top: 70px;
    display: flex;
    column-gap: 30px;
}
.feedback__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.feedback__quote-wrap {
    position: relative;
    width: 570px;
    padding: 42px 28px;
    border: 1px solid #dfe2e8;
    background: #fff;
    border-radius: 10px;
    transition: 0.25s ease-in;
}
.feedback__item-desc {
    color: #696d76;
    text-align: center;
    font-size: 2.2rem;
    line-height: 1.55; /* 154.545% */
}
.feedback__quote-wrap:hover {
    transform: translateY(-18px);
    border-color: transparent;
    filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
}

.feedback__quote-wrap:hover .feedback__item-desc::after {
    border-color: transparent;
}
.feedback__item-desc::after {
    content: "";
    position: absolute;
    width: 62px;
    height: 62px;
    background: #fff;
    border-right: 1px solid #dfe2e8;
    border-bottom: 1px solid #dfe2e8;
    bottom: -32px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    transition: 0.25s ease-in;
}

.feedback__item-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 82px;
}

.feedback__info-wrap {
    position: relative;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    background: #4ab5e3;
    overflow: hidden;
}

.feedback__info-avatar {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
}
.feedback__item:nth-of-type(2) .feedback__info-wrap {
    background: #439f90;
}

.feedback__info-name {
    margin-top: 20px;
    color: #070052;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38; /* 138.462% */
}

.feedback__info-job {
    margin-top: 6px;
    color: #696d76;
    font-size: 1.8rem;
    line-height: 30px; /* 166.667% */
}

.feedback__dots {
    margin-top: 48px;
    display: flex;
    justify-content: center;
    column-gap: 16px;
}

.feedback__dot {
    width: 22px;
    height: 6px;
    border: 1px solid #9b9fab;
    cursor: pointer;
}
.feedback__dot-active {
    background: #7264d6;
    border-color: #7264d6;
}

/* UPDATE */
.update__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.update__desc {
    margin-top: 18px;
    width: 435px;
    color: #696d76;
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
}

.update__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.update__item {
    display: flex;
    column-gap: 22px;
    padding: 28px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
}

.update__item-img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 12px;
}

.update__item-date {
    color: #696d76;
    font-size: 1.4rem;
    line-height: 1.71; /* 171.429% */
}

.update__item-heading {
    display: inline-block;
    margin: 10px 0 20px;
    color: #212832;
    width: 332px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.update__item-link {
    color: #7264d6;
    font-size: 1.6rem;
    line-height: 1.62; /* 162.5% */
}

.update__item-link:hover {
    text-decoration: underline;
}
